---
const url = new URL(Astro.request.url);
const lang = url.pathname.split("/")[1] === "en" ? "en" : "lt";

const letsTalkData = {
	email: "info@porukonsultavimas.lt",
	phone: "+370 698 255 03",
	hours: "10:00 - 17:00 (EET)",
};

const letsTalkCopy = {
	lt: {
		title: "Pasikalbėkime",
		officeHours: "Darbo laikas",
		weekdays: "I - IV",
	},
	en: {
		title: "Let's talk",
		officeHours: "Working hours",
		weekdays: "Mon - Thu",
	},
};
---

<section id={letsTalkCopy[lang].title.toLowerCase()}>
	<div class="talk-wrapper">
		<div class="talk">
			<h2>{letsTalkCopy[lang].title}</h2>
			<p><a href={"mailto:" + letsTalkData.email}>{letsTalkData.email}</a></p>
			<p>{letsTalkData.phone}</p>
			<p>
				{letsTalkCopy[lang].officeHours}: {letsTalkCopy[lang].weekdays}, {
					letsTalkData.hours
				}
			</p>
		</div>
	</div>
</section>

<style>
	section {
		align-items: center;
		padding: 2em 0;
		background-color: var(--color-primary);
		color: var(--color-background);
	}

	.talk-wrapper {
		max-width: 85%;
		margin: auto;
		display: flex;
		justify-content: center;
	}

	.talk {
		text-align: center;
	}

	.talk > * {
		margin: 0.6em 0;
	}

	a {
		color: var(--color-background);
		border-bottom: 2px solid var(--color-background);
	}
</style>
